@import '../../assets/fontawesome/css/all.css';

.login-container {
  width: 20rem;
  margin: auto;
  margin-top: 20%;

  // .field-wrap {
  //   input {
  //     width: 100%;
  //     padding: 5px 12px;
  //     font-size: 14px;
  //     line-height: 20px;
  //     vertical-align: middle;
  //     background-repeat: no-repeat;
  //     background-position: right 8px center;
  //     border: 1px solid #d0d7de;
  //     border-radius: 6px;
  //     transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  //     transition-property: color, background-color, box-shadow, border-color;

  //     border-radius: 5px;
  //   }
  // }
  // .field-wrap-notValid {
  //   input {
  //     width: 100%;
  //     padding: 5px 12px;
  //     font-size: 14px;
  //     line-height: 20px;
  //     vertical-align: middle;
  //     background-repeat: no-repeat;
  //     background-position: right 8px center;
  //     border: 1px solid #ffcd38;
  //     border-radius: 6px;
  //     transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  //     transition-property: color, background-color, box-shadow, border-color;

  //     border-radius: 5px;
  //     &:focus {
  //       border: 1px solid #ffcd38;
  //       outline: #ffcd38;
  //     }
  //   }
  // }

  .field-wrap {
    input {
      width: 100%;
      padding: 5px 12px;
      font-size: 14px;
      line-height: 20px;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: right 8px center;
      border: 1px solid grey;
      border-radius: 6px;
      transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
      transition-property: color, background-color, box-shadow, border-color;

      border-radius: 5px;
    }
    &.notValid {
      input {
        &:focus {
          border: 1px solid #ffcd38;
          outline: #ffcd38;
        }
      }
    }
  }
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #2da44e;
  border-color: rgba(27, 31, 36, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.03);
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, #ffcd38;
  position: relative;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  appearance: none;
}

.alert-content {
  color: #ffcd38;
  margin-left: 5px;
}
.eye {
  float: right;
  margin-left: -15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
